header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    background-color: #929000;
  }
  
  header nav a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: all 350ms ease-out;
  }
  
  header nav a:hover {
    color: #ff0000;
  }
  body {
    width: 1000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
  }
  .hero {
    /* position: sticky;
    top: 0px; */
    display: grid;
    grid-template-columns: 1fr 00px;
    gap: 30px;
    height: 500px;
    align-items: center;
    grid-template-columns: auto;
  }
  
  .hero-content {
    width: 300px;
  }
  footer {
    text-align: center;
    background-color: #007928;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heada {
      justify-content: center;

  }
  .namesdiv {

  }
  .webs {
      ;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .imageurl {
      width: 100%;
  }